* @Palo-Cortex/soc-framework-maintainers

Documentation/ @Palo-Cortex/soc-framework-maintainers
Playbooks/ @Palo-Cortex/soc-framework-maintainers
Correlation/ @Palo-Cortex/soc-framework-maintainers
ModelingRules/ @Palo-Cortex/soc-framework-maintainers
Lists/ @Palo-Cortex/soc-framework-maintainers
Dashboards/ @Palo-Cortex/soc-framework-maintainers
Scripts/ @Palo-Cortex/soc-framework-maintainers
CommonUtils/ @Palo-Cortex/soc-framework-maintainers
