adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 2.1.11
    packID: ""
    packName: SOC Framework
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: This is a common playbook intended to integrate the Indicator Extraction
  to all automated alerts.
id: 'Foundation Common - Extract Indicators from alerts'
inputs: []
name: Foundation Common - Extract Indicators from alerts
outputs: []
quiet: true
sourceplaybookid: Foundation Common - Extract Indicators from alerts
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 775ef611-299c-4899-87c7-60d32884730a
      iscommand: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 775ef611-299c-4899-87c7-60d32884730a
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      text:
        simple: ${alert}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Extract all indicators according to server indicators configuration
      id: acb6a086-80f0-4193-949d-05b7da8a52a9
      iscommand: true
      name: Extract indicators from Alert
      playbooktaskmissingcomponent: null
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: acb6a086-80f0-4193-949d-05b7da8a52a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c830526-70e7-4df8-bffc-214c075794ba
      iscommand: false
      name: End Playbook
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 0c830526-70e7-4df8-bffc-214c075794ba
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 580
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: b44ef3d5-a65e-4227-8f0d-a4606447ca1e
      iscommand: false
      name: SOC Calculate Severity - Generic v2
      playbookId: 'SOC Calculate Severity - Generic v2'
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: b44ef3d5-a65e-4227-8f0d-a4606447ca1e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 400
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 590,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
