adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 2.1.13
    packID: ""
    packName: SOC Framework
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: Pulling in the full native alert payload from the product that generated
  the issue/alert.
dirtyInputs: true
id: 'Foundation - Issue Hydration'
inputSections:
- description: Generic group for inputs
  inputs: []
  name: General (Inputs group)
inputs: []
name: Foundation - Issue Hydration
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
sourceplaybookid: Foundation - Enrichment
starttaskid: "0"
tags:
- SOC
- SOC_Framework
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
      - "18"
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8492b25a-a19c-4593-8191-9cb60e4d3007
      iscommand: false
      name: ""
      playbooktaskmissingcomponent:
      version: -1
    taskid: 8492b25a-a19c-4593-8191-9cb60e4d3007
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1362,
          "y": 50
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
      iscommand: false
      name: Done
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1121.5,
          "y": 1560
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 61926975-3c4d-4354-8e24-60ce689d034e
      iscommand: false
      name: Email Hydration
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 61926975-3c4d-4354-8e24-60ce689d034e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 391,
          "y": 550
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0ffea025-1487-4de4-89ef-be88451c6b1c
      iscommand: false
      name: Network Hydration
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 0ffea025-1487-4de4-89ef-be88451c6b1c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 976.25,
          "y": 550
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 35dec624-d2e2-448e-a49c-62dc66589b2e
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      playbooktaskmissingcomponent:
      type: playbook
      version: -1
    taskid: 35dec624-d2e2-448e-a49c-62dc66589b2e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1412,
          "y": 1390
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e2ffa32a-2285-47c2-8756-75f5f80bd793
      iscommand: false
      name: EndPoint Hydration
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: e2ffa32a-2285-47c2-8756-75f5f80bd793
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1742,
          "y": 550
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: issue.tags
          operator: containsString
          right:
            value:
              simple: DS:Trend Micro Vision One V3
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2648e64a-af9c-4805-b000-b266ac6eca20
      iscommand: false
      name: Trend Micro Vision One V3
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 2648e64a-af9c-4805-b000-b266ac6eca20
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1870,
          "y": 870
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ab047d18-69d1-45ff-8523-e3fe2d7a49d7
      iscommand: false
      name: Alert Details from Trend Micro
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: ab047d18-69d1-45ff-8523-e3fe2d7a49d7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1870,
          "y": 1140
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Read-only adapter to enrich an alert from Trend Micro Vision One
        (Workbench) and normalize into Alert.Enrichment.*.
      id: 2f46bf8a-6979-4c48-8a35-3a035c535eb0
      iscommand: false
      name: SOC Trend Micro Alert Enrichment
      playbookId: SOC Trend Micro Alert Enrichment
      playbooktaskmissingcomponent:
      type: playbook
      version: -1
    taskid: 2f46bf8a-6979-4c48-8a35-3a035c535eb0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1870,
          "y": 1320
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1570,
        "width": 1859,
        "x": 391,
        "y": 50
      }
    }
  }
fromversion: 5.0.0
