adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 2.1.13
    packID: ""
    packName: SOC Framework
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: |
  Uses our alert fingerprinting - and compares the alert to the alert ledger
  If a duplicate is identified - the parent alert is recorded, and the alert resolves
dirtyInputs: true
id: 'Foundation - Dedup'
inputs: []
name: Foundation - Dedup
outputs: []
sourceplaybookid: Foundation - Upon Trigger
starttaskid: "0"
tags:
- SOC
- SOC_Framework
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4bb50423-9a1a-4c0e-88ba-c31e26fdf280
      iscommand: false
      name: ""
      playbooktaskmissingcomponent:
      version: -1
    taskid: 4bb50423-9a1a-4c0e-88ba-c31e26fdf280
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2eb08148-d069-489a-83e1-1ab88016aac3
      iscommand: false
      name: Done
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 2eb08148-d069-489a-83e1-1ab88016aac3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1120
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: errorPath
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "17"
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      fromDate:
        simple: ${SOCOptimizeConfig.[2].fields.DedupWindow}
      minimunIncidentSimilarity:
        simple: "0.8"
      query:
        simple: case_id=${parentIncidentFields.incident_id}
      similarJsonField:
        simple: username,hostip
      similarTextField:
        simple: name,type
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Finds past similar alerts based on alert fields' similarity. Includes an option to also display indicators similarity.
        Note: For the similarity calculation, at least one field must be provided in one of the "similarTextField", "similarCategoricalField", or "similarJsonField" arguments.
      id: 5b020eeb-07e2-4ead-b9c8-f41fddc7d10f
      iscommand: false
      name: DeDup Alerts from the Last "1 days ago"
      playbooktaskmissingcomponent:
      script: DBotFindSimilarAlerts
      type: regular
      version: -1
    taskid: 5b020eeb-07e2-4ead-b9c8-f41fddc7d10f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: errorPath
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "17"
      '#none#':
      - "8"
    note: false
    quietmode: 2
    scriptarguments:
      closeNotes:
        simple: Auto-Close Duplicate
      closeReason:
        simple: Resolved - Duplicate Alert
      id:
        simple: ${DBotFindSimilarIncidents.similarIncident.id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: ddcf8da0-3949-415f-8bbb-6c440ff050ee
      iscommand: true
      name: Close As Duplicates
      playbooktaskmissingcomponent:
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: ddcf8da0-3949-415f-8bbb-6c440ff050ee
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 760
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: errorPath
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "17"
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${DBotFindSimilarIncidents.similarIncident.id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 4f2a3250-61d8-4556-aea2-4612ac251ad6
      iscommand: false
      name: Print Duplicate Alerts
      playbooktaskmissingcomponent:
      script: Print
      type: regular
      version: -1
    taskid: 4f2a3250-61d8-4556-aea2-4612ac251ad6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 580
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: DBotFindSimilarIncidents.isSimilarIncidentFound
          operator: isTrue
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7adad498-fc30-4def-818b-a1d7198474c8
      iscommand: false
      name: Are there any similar alerts?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 7adad498-fc30-4def-818b-a1d7198474c8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 400
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: c9a53716-a57b-4fae-8e00-d3508d482f51
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      playbooktaskmissingcomponent:
      type: playbook
      version: -1
    taskid: c9a53716-a57b-4fae-8e00-d3508d482f51
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 940
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1130,
        "width": 717.5,
        "x": 50,
        "y": 50
      }
    }
  }
fromversion: 5.0.0
